
body {
  background: #eee;
  font: 16px / 1.5 arial;
  padding: 0;
}

body, body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrap {
  background: white;
  position: relative;
  border: 5px solid black;
  border-right-width: 15px;
}

p {
  margin-bottom: 1em;
}

.main {
  background: white;
  position: relative;
  z-index: 2;
  padding: 20px;
  transform: translateX(0);
}

.button {
  appearance: none;
  background: white;
  border-radius: 50%;
  border: 0;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1); 
  color: rgb(200, 50, 98);
  cursor: pointer;
  font-size: 10px;
  height: 75px;
  padding: 30px 0;
  position: fixed;
  right: 10px;
  text-align: center;
  top: 75px;
  width: 75px;
  z-index: 10;
}



.nav {
  background: black;
  color: white;
  position: fixed;
  top: 0;
  padding: 40px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  text-align: left;
  font: 18px / 1 arial;
}

.nav ul {
  column-count: 2;
  list-style: none;
}

.nav li {
  margin-bottom: 12px;
}

.nav li a {
  color: white;
  border-bottom: 1px solid red;
  text-decoration: none;
}


.wrap.snapping .main,
.wrap.snapping .button{
  transition: all 0.5s ease;
}

.wrap.nav-open .main {
  transform: translateX(-500px);
  transition: all 0.5s ease;
}